* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color:black;
    height: 50px;

    margin-bottom: 2rem;
    padding: 0.2rem;
    
    position: sticky;
    top: 0;


}

.nav {
    /* background-color:blue; */
    width: 800px;

    margin: 0 auto;
    padding: 5px;

    
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.nav-links {
    /* background-color: green; */
    color: white;
    width: 400px;

    list-style: none;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

.btn {
    color: white;
    background-color: rgb(23 162 184);
    padding: 0.2rem 0.4rem;

}